body {
  height:100vh;
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.kare{
  text-align: center;
  padding-top: 15%;
  font-family: 'ZCOOL KuaiLe', cursive;
  font-size: 12rem;
}
.k{color:red}
.A{color:#F9EC41; font-weight: 900}
.R{color:#2A6837}
.E{color:red}
.arrow{color:#2A6837}

.love{
  text-align: center;
  color:red;
  font-size: 12rem;
}

i.fa.fa-fa-heartbeat{
  font-size: 100px;
}





@media (max-width: 575.98px) {
  body{padding-top: 20%;}
.kare{width:100%;font-size:6rem;padding-top: 80%;text-align:center;}
.love{width:100%;font-size:6rem;text-align:center;}

}
/*Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .kare{width:100%;font-size:15px;}
  .love{width:100%;font-size:15px;}
}*/
